<section class="container-fluid">
  <div class="container">
    <div class="line-left">
      <h3>About me</h3>
      <p class="highlighted-text">
        Além de aprimorar habilidades técnicas, minha experiência profissional
        também me permitiu desenvolver qualidades pessoais, como espírito
        colaborativo, bom relacionamento com colegas de trabalho e clientes, boa
        aceitação de feedbacks, resiliência, análise crítica e resolução de
        problemas.
      </p>
    </div>
  </div>
</section>
