section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
.card-github {
  position: relative;
  min-width: 380px;
  max-width: 380px;
  min-height: 210px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  a {
    text-decoration: none;
  }
}
.deploy {
  width: 100%;
  display: flex;
  align-items: center;
}
.container-title {
  padding: 20px 40px;
  width: 100%;
}
.no-deploy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 150px;
  font-size: 14px;
}
.tag {
  background: rgba(74, 20, 140, 1);
  color: #fff;
  font-size: 12px;
  padding: 5px;
  display: inline-block;
}
.footer-card {
  position: absolute;
  bottom: 15px;
  display: flex;
  gap: 20px;
}
.btns button {
  width: 256px;
}
