section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}
.card-github {
  position: relative;
  min-width: 400px;
  max-width: 400px;
  min-height: 300px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  a {
    text-decoration: none;
  }
  h3 {
    margin-right: 20px;
  }
  h2 {
    margin-bottom: 5px;
  }
}
.deploy {
  width: 100%;
  display: flex;
  align-items: center;
}
.container-title {
  padding: 20px 40px;
}

a {
  background: var(--color-graditent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.tag {
  background: rgba(74, 20, 140, 1);
  color: #fff;
  font-size: 12px;
  padding: 5px;
  display: inline-block;
}
.card-content,
.deploy,
.btn-github {
  margin-top: 20px;
}
.footer-card {
  position: absolute;
  bottom: 20px;
}
i {
  padding-left: 10px;
}
