<section class="container">
  <div class="redes container">
    <h2>Redes Sociais</h2>
    <div class="redes-icons">
      <a href="https://linkedin.com/in/geisabittencourt" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <p>Linkedin</p>
    </div>
    <div class="redes-icons">
      <a href="http://github.com/geisabitt" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <p>Github</p>
    </div>
  </div>
  <div class="copy container">
    <p>Desenvolvido por Geisa Bittencourt</p>
  </div>

</section>