mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
a {
  text-decoration: none;
  margin-left: 10px;
  color: #fff;
}
