h1 {
  background: var(--color-graditent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  font-size: 51px;
  font-weight: bold;
  margin: 10px 0 30px 0;
  @media (max-width: 768px) {
    font-size: 36px;
  }
}
#header {
  margin-top: 100px;
}
