<section id="header" class="container-full">
  <div class="container">
    <div class="info">
      <h3>SOFTWARE DEVELOPER</h3>
      <h1>Geisa Bittencourt</h1>
      <p>
        Desenvolvedora com conhecimentos tanto no Front End como no Back End;
      </p>
      <p>
        No Front-End tenho experiência com JavaScript, TypeScript, Angular,
        HTML, CSS, SASS, Bootstrap e um breve conhecimento de ReactJS.
      </p>
      <p>
        No Back-end possuo conhecimento com desenvolvimento Node utilizando
        TypeScript e JavaScript, além de um breve conhecimento de Java para
        construir APi´s em Spring Boot com integração com bancos de dados
        relacionais e Postman para os testes.
      </p>
    </div>
    <img src="../../../assets/image/animacao.png" alt="" />
  </div>
  <div class="container">
    <p class="highlighted-text">
      Além de aprimorar habilidades técnicas, minha experiência profissional
      também me permitiu desenvolver qualidades pessoais, como espírito
      colaborativo, bom relacionamento com colegas de trabalho e clientes, boa
      aceitação de feedbacks, resiliência, análise crítica e resolução de
      problemas.
    </p>
  </div>
</section>
