:root {
  --color-graditent: linear-gradient(
    90deg,
    rgba(196, 26, 117, 1) 0%,
    rgba(244, 143, 177, 1) 23%,
    rgba(74, 20, 140, 1) 77%
  );
}

@import "@angular/material/theming";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@include mat-core();
* {
  margin: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.dark-mode {
  $custom-app-primary: mat-palette($mat-purple);
  $custom-app-secondary: mat-palette($mat-purple, A200, A400, 700);
  $custom-app-warn: mat-palette($mat-red);

  $custon-theme: mat-dark-theme(
    $custom-app-primary,
    $custom-app-secondary,
    $custom-app-warn
  );
  @include angular-material-theme($custon-theme);

  background-color: #333;
  color: #fff;
}
.container-full {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  width: 80%;
  display: flex;
  padding: 50px 0;
  gap: 20px;
  margin: 0 auto;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.highlighted-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}
svg {
  -webkit-text-fill-color: transparent;
  width: 100%;
  fill: var(--color-graditent);
}
